/* reset */
$min-width: 320px;    
$max-width: 1538px;   
$base-bg: #000; 
$base-font-size: 16px; 
$base-line-height: 1.2; 
$base-font-family: 'Open Sans', sans-serif; 
$link-color: #d2cbbb;
$default-transition:all 0.3s linear;

/* main variables */

//text, titles
$text-color: #000000;  
$title-color: #000000; 
$custom-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Open Sans', sans-serif;

$font-size-h1: 62px;   
$line-height-h1: 1.2;     
$font-size-h2: 42px;
$line-height-h2: 1.2;
$font-size-h3: 30px; 
$line-height-h3: 1.2; 
$font-size-h4: 24px;
$line-height-h4: 1.2; 
