.footer {
	text-align: left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;	
    .wrapper {max-width: 100%;}
}



@media screen and (max-width: 1199px) {  
    
}
@media screen and (max-width: 1023px) {  
    
}
@media screen and (max-width: 767px) {  
    

}
@media screen and (max-width: 599px) {  
    
}
@media screen and (max-width: 424px) {  

}