
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
	width:100%; 	
	order: 1;	
    -webkit-order: 1;
    position:fixed;       
    left: 0;  right:0;         
    z-index: 50;     
    top:0; width:100%;  
    padding: 10px 0 10px; transition: all 0.3s linear;
    .wrapper {max-width: 100%;}
    &.fix {padding: 10px 0; background: #000;
        .header_logo {margin-bottom: -50px;}
    }
}   

   
@media screen and (max-width: 1279px) { 
} 
@media screen and (max-width: 1199px) {  



}
 
@media screen and (max-width: 1023px) {     


}
@media screen and (max-width: 559px) {  


}
@media screen and (max-height: 379px) {    


}

@media screen and (max-width: 424px) { 

}
@media screen and (max-width: 374px) { 

}